.additional-goods-list {
  .no-indent();
}

.additional-goods-list__item {
  width: 320px;
  margin: 0 auto;
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 17px;
  padding-left: 20px;
  border-bottom: 1px solid #ededed;
}

.additional-goods-list__title {
  .no-indent();
  .text-properties(16px, 16px, 400);
  text-transform: uppercase;
}

.additional-goods-list__info {
  width: 280px;
  margin-top: 10px;
  margin-bottom: 14px;
}

.additional-goods-list__value {
  text-align: right;
}
