.catalog-goods__title {
  margin: 0;
  padding: 30px 20px 40px 20px;
  font-family: @oswald;
  .text-properties(36px, 60px, 400);
  border-top: 1px solid @dark-grey;
  border-bottom: 1px solid @dark-grey;

  @media @tablet-width {
    border: none;
  }
}

.catalog-goods__list-goods {
  @media @tablet-width {
    padding: 40px 30px 30px 30px;
  }
}
