.catalog-additional-goods__center-wrapper {
  .center-wrapper;
  padding-top: 28px;

  @media @tablet-width {
    padding-top: 33px;
    padding-bottom: 35px;
  }

  @media @desktop-width {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.catalog-additional-goods__title {
  position: relative;
  margin: 0;
  font-family: @oswald;
  .text-properties(24px, 24px, 400);

  &::after {
    content: "";
    position: absolute;
    width: 53px;
    height: 3px;
    top: 15px;
    right: -20px;
    background-color: @little-green;
  }

  @media @tablet-width {
    padding: 0 38px 34px 38px;

    .text-properties(36px, 36px, 400);

    &::before {
      content: "";
      position: absolute;
      width: 53px;
      height: 3px;
      top: 15px;
      left: -30px;
      background-color: @little-green;
    }

    &::after {
      width: 450px;
      right: -30px;
    }

    @media @desktop-width {
      &::after {
        width: 960px;
        right: -40px;
      }
    }
  }

  @media @desktop-width {
    width: 1260px;
  }
}

.catalog-additional-goods__special-offer {
  position: relative;
  width: 280px;
  min-height: 289px;
  margin: 0;
  margin-top: 39px;
  padding: 186px 55px 43px 55px;
  font-family: "Arial", sans-serif;
  .text-properties(16px, 20px, 400);
  color: @white;
  text-align: center;
  background-color: @little-green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px auto;
  }

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 64px;
    left: 115px;
    width: 55px;
    height: 60px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media @tablet-width {
    width: 708px;
    min-height: 200px;
    margin-top: 69px;
    padding: 72px 107px 44px 423px;
    text-align: left;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px auto;
    }

    &::before {
      top: 64px;
      left: 91px;
    }
  }

  @media @desktop-width {
    width: 245px;
    min-height: 289px;
    margin: 0;
    padding: 180px 37px 44px 37px;
    text-align: center;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px auto;
    }

    &::before {
      top: 64px;
      left: 95px;
    }
  }
}
