.first-screen__center-container {
  position: relative;
  .center-container(360px, 28px 20px 20px 28px);
  min-height: 305px;
  margin-bottom: 135px;
  background-color: @little-green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;

  &::after {
    display: block;
    content: "";
    position: absolute;
    top: 165px;
    left: 20px;
    width: 280px;
    height: 271px;
    background-image: url("../img/index-can-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.first-screen__title {
  padding: 0;
  .text-properties(36px, 36px, 400);
  text-align: center;
  color: #ffffff;
}

.first-screen__slogan {
  display: block;
  margin-top: 20px;
  .text-properties(14px, 14px, 400);
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.first-screen__choose-program {
  margin: 0 20px;
}
