.footer__center-wrapper {
  .center-wrapper;
  padding-top: 38px;
  padding-bottom: 20px;

  @media @tablet-width {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 55px;
    padding-bottom: 80px;
  }
}

.footer__logo {
  margin: 0 auto;

  @media @tablet-width {
    margin: 0;
  }
}

.footer__social-media-list {
  .list-style-default();
  margin-top: 30px;

  @media @tablet-width {
    margin: 0;
  }
}
