.header__center-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;

  @media @tablet-width {
    margin: 0 auto;
    padding: 25px 30px;
  }

  @media @desktop-width {
    max-width: 1300px;
    position: relative;
    margin: 0 auto;
    padding: 25px 40px;
  }
}

.header__logo {
  margin: 11px 20px 16px 20px;

  @media @tablet-width {
    margin: 0;
  }
}

.header__toggle {
  display: block;
  width: 24px;
  height: 18px;
  margin: 23px 20px 20px 24px;
  padding: 0;
  border: none;
  cursor: pointer;

  &--opened {
    background-color: @pink;
  }

  &--closed {
    background-color: @black;
  }

  @media @tablet-width {
    display: none;
  }
}
