.header__center-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;

  @media @tablet-width {
    margin: 0 auto;
    padding: 25px 30px;
  }

  @media @desktop-width {
    max-width: 1300px;
    position: relative;
    margin: 0 auto;
    padding: 25px 40px;

    @media @desktop-width {
      &::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 696px;
        top: 0;
        right: 0;
        background-image: url("../img/index-background-desktop@1x.jpg");
        background-repeat: no-repeat;
        background-position: 0 0;
        z-index: -1;
      }

      &::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 696px;
        top: 0;
        right: 0;
        background-color: @little-green;
        z-index: -2;
      }
    }
  }
}

.header__logo {
  margin: 11px 20px 16px 20px;

  @media @tablet-width {
    margin: 0;
  }
}
