.main-nav__toggle {
  display: block;
  width: 24px;
  height: 18px;
  margin: 13px, 0, 0, auto;
  background-color: red;
  border: none;
  cursor: pointer;

  &:--burger {
    background-image: url("../img/icon-mobile-menu.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &:--close {
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.main-nav__list {
  .no-indent();
}

.main-nav__item {
  min-height: 67px;
  padding-top: 24px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-bottom: 1px solid red;
}

.main-nav__link {
  display: block;
  .text-properties(20px, 20px, 500);
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__link--active:hover {
  opacity: 1;
}
