.main-nav {
  position: relative;
}

.main-nav__toggle {
  display: block;
  position: absolute;
  top: -28px;
  right: 13px;
  width: 24px;
  height: 18px;
  border: none;
  cursor: pointer;

  &--open {
    background-color: @pink;
  }

  &--close {
    background-color: @black;
  }
}

.main-nav__list {
  .list-style-default;
  background-color: @white;
}

.main-nav__item {
  min-height: 67px;
  padding: 24px 20px 20px 20px;
  border-bottom: 1px solid @grey;
}

.main-nav__link {
  display: block;
  .text-properties(20px, 20px, 500);
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__link--active:hover {
  opacity: 1;
}

@media @tablet-width {

  .main-nav__list {
    display: flex;
  }

}
