.map {
  position: relative;
  max-width: 320px;
  margin: 0 auto;

  @media @tablet-width {
    max-width: 768px;

    &::before {
      width: 124px;
      height: 106px;
      background-image: url("../img/map-pin.png");
    }
  }

  @media @desktop-width {
    max-width: 1300px;
  }
}

.map__img {
  width: 320px;
  height: 400px;
}

.map__pointer {
  position: absolute;
  top: 180px;
  left: 135px;
  width: 55px;
  height: 53px;
  background-image: url("../img/map-pin2.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
