.personal-info {
  position: relative;
  margin-top: 30px;
}

.personal-info__title {
  position: relative;
  width: 230px;
  margin: 0;
  margin-bottom: 30px;
  font-family: @oswald;
  .text-properties(24px, 24px, 400);

  &::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    bottom: 31px;
    right: -70px;
    background-color: @little-green;
  }
}

.personal-info__label {
  .form-label;
}

.personal-info__input {
  .form__input;
}
