.personal-info {
  position: relative;
  padding: 30px 0;

  @media @tablet-width {
    padding: 30px 40px;
  }

  @media @desktop-width {
    padding: 30px 0;
  }
}

.personal-info__title {
  position: relative;
  width: 230px;
  margin: 0;
  margin-bottom: 30px;
  font-family: @oswald;
  .text-properties(24px, 24px, 400);

  &::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    bottom: 31px;
    right: -70px;
    background-color: @little-green;
  }
}

.personal-info__list {
  .list-style-default;

  @media @desktop-width {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.personal-info__item {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media @desktop-width {
    width: 570px;
    margin-bottom: 0;
  }
}

.personal-info__label {
  .form-label;
}

.personal-info__input {
  .form__input;
}
