.profile {
  position: relative;
  margin-top: 30px;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 1px;
    bottom: -25px;
    left: -20px;
    background-color: @dark-grey;

    @media @tablet-width {
      display: none;
    }
  }

  @media @tablet-width {
    margin: 30px 40px;
  }
}

.profile__description {
  width: 235px;
  margin: 0;
  margin-bottom: 40px;
  font-family: @oswald;
  .text-properties(14px, 18px, 400);
  text-transform: uppercase;
}

.profile__label {
  .form-label;
}

.profile__input {
  .form__input;
}
