.program-categories {
  position: relative;
  padding: 20px 0;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 1px;
    bottom: 0;
    left: -20px;
    background-color: @dark-grey;

    @media @tablet-width {
      display: none;
    }
  }

  @media @tablet-width {
    margin: 15px 30px 15px 30px;
    padding: 30px 80px 15px 30px;
    border: 1px solid @grey;
  }

  @media @desktop-width {
    width: 570px;
    margin: 0;
    margin-top: 104px;
  }
}

.program-categories__list {
  .list-style-default;
}

.program-categories__item {
  margin: 0 0 25px 45px;

  &:last-child {
    margin: 0 0 0 45px;
  }
}

.program-categories__label {
  position: relative;
  font-family: @oswald;
  .text-properties(16px, 18px, 400);
  text-transform: uppercase;
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }
}

.program-categories__input + .program-categories__label::before {
  display: block;
  content: "";
  position: absolute;
  top: -4px;
  left: -48px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid @grey;
  border-radius: 50%;
  cursor: pointer;
}

.program-categories__input:checked + .program-categories__label::after {
  display: block;
  content: "";
  position: absolute;
  top: 5px;
  left: -39px;
  width: 12px;
  height: 12px;
  background-color: @little-green;
  border-radius: 50%;
}

.program-categories__input:hover + .program-categories__label::before {
  border: 1px solid @dark-grey;
}

.program-categories__input:active + .program-categories__label::before {
  border: 1px solid @dark-grey;
  opacity: 0.3;
}

.program-categories__input:active + .program-categories__label::after {
  opacity: 0.3;
}
