.slider-cat {
  position: relative;
  max-width: 320px;

  @media @tablet-width {
    width: 708px;
  }

  @media @desktop-width {
    width: 690px;
  }
}

// .slider-cat__wrapper {

// }

.sliper-cat__img-before-wrapper {
  display: block;
}

.sliper-cat__img-after-wrapper {
  display: none;
}

.slider-cat__img-before {

  @media @tablet-width {
    display: none;
  }
}

.slider-cat__img-after {
  @media @tablet-width {
    display: none;
  }
}

.slider-cat__img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.slider-cat__img-before {
  display: none;

  @media @tablet-width {
    display: block;
  }
}

.slider-cat__img-after {
  display: none;

  @media @tablet-width {
    display: block;
  }
}

.slider-cat__controls {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 28px 59px 20px 63px;
}

.slider-cat__label {
  display: block;
  font-family: @oswald;
  .text-properties(16px, 20px, 400);
  text-transform: uppercase;
  cursor: pointer;

  @media @tablet-width {
    .text-properties(20px, 20px, 400);
    border-bottom: 1px dotted @dark-grey;

    &:hover {
      border-bottom: 1px solid @dark-grey;
    }

    &:active {
      border-bottom: none;
    }
  }
}

.slider-cat__scale {
    position: absolute;
    top: 30px;
    left: 119px;
    width: 84px;
    height: 14px;
    border: 1px solid @dark-grey;
    border-radius: 4px;

  @media @tablet-width {
    bottom: 4px;
    left: 142px;
    width: 428px;
    height: 8px;
    background-color: @dark-grey;
    border-radius: 2px;
    z-index: 1;
  }
}

.slider-cat__toggle {
  position: absolute;
  top: 3px;
  left: 5px;
  width: 35px;
  height: 6px;
  background-color: @little-green;
  border-radius: 3px;

  @media @tablet-width {
    position: absolute;
    top: -13px;
    left: 200px;
    width: 34px;
    height: 34px;
    background-color: @white;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    background-image: url("../img/toggle-green-point.png");
    background-repeat: no-repeat;
    background-position: 13px 13px;
    z-index: 2;

    &:hover {
      background-position: 12px 12px;
      border: 1px solid @dark-grey;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      background-position: 11px 11px;
      border: 2px solid @little-green;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

// @media (max-width: @mobile-width-only) {
//   .slider-cat__label--left {
//     margin-left: 30px;
//   }

//   .slider-cat__label--right {
//     margin-right: 30px;
//   }

//   #cat-one:checked ~ .slider-cat__img-before-mobile {
//     display: block;
//   }

//   #cat-one:checked ~ .slider-cat__img-after-mobile {
//     display: none;
//   }

//   #cat-one:checked ~ .slider-cat__controls::after {
//     left: 107px;
//   }

//   #cat-two:checked ~ .slider-cat__img-before-mobile {
//     display: none;
//   }

//   #cat-two:checked ~ .slider-cat__img-after-mobile {
//     display: block;
//   }

//   #cat-two:checked ~ .slider-cat__controls::after {
//     left: 142px;
//   }
// }
