.social-media-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 24px 70px 20px 70px;
  border-top: 1px solid @dark-grey;
  border-bottom: 1px solid @dark-grey;

  @media @tablet-width {
    width: 135px;
    padding: 0;
    border: 0;
  }
}

.social-media-list__link {
  display: block;
  position: relative;
  width: 30px;
  height: 18px;


  &--vk {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 22px;
    height: 12px;

    @media @tablet-width {
      width: 30px;
      height: 16px;
    }
  }

  &--insta {
    position: absolute;
    top: 0px;
    left: 7px;
    width: 16px;
    height: 16px;

    @media @tablet-width {
      width: 23px;
      height: 23px;
    }
  }

  &--fb {
    position: absolute;
    top: -2px;
    left: 8px;
    width: 10px;
    height: 19px;

    @media @tablet-width {
      width: 14px;
      height: 28px;
    }
  }
}

.social-media-list__link:hover .social-media-list__svg {
  fill: #68b738;
}

.social-media-list__link:active .social-media-list__svg {
  opacity: 0.3;
}
