.list-style-default() {
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-properties (@font-size, @line-height, @font-weight) {
  font-size: @font-size;
  line-height: @line-height;
  font-weight: @font-weight;
}

.center-wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media @tablet-width {
    max-width: 768px;
    padding: 0 30px;
  }

  @media @desktop-width {
    max-width: 1300px;
    padding: 0 40px;
  }
}

.form-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 45px;
  margin-bottom: 20px;
  font-family: @oswald;
  .text-properties(16px, 18px, 400);
  text-transform: uppercase;
}

.form__input {
  width: 100%;
  min-height: 45px;
  margin-left: 10px;
  padding: 0 15px;
  font-family: @oswald;
  .text-properties(16px, 18px, 400);
  text-transform: uppercase;
  border: 1px solid @grey;

  &:hover {
    border: 1px solid @dark-grey;
  }

  &:focus {
    outline: 0;
    border: 2px solid @black;
  }
}
