.no-indent () {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-style-default() {
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-properties (@font-size, @line-height, @font-weight) {
  font-size: @font-size;
  line-height: @line-height;
  font-weight: @font-weight;
}

.center-container (@width, @padding) {
  width: @width;
  margin: 0 auto;
  padding: @padding;
}
